.faq__item {
    background-color: hsl(218.94, 54.02%, 34.12%);
    cursor: pointer;
    box-shadow: 0 1px 2px rgb(0 0 0 / 8%);
    transition: .3s box-shadow ease;
}

.faq__item:hover {
    box-shadow: 0 1px 5px black;
}

.icon {
    transition: .5s all ease;
}

.icon.open {
    transform: rotate(180deg);
}

.icon.close {
    transform: rotate(0deg);
}

.faq__answer {
    max-height: 0;
    font-weight: 200;
    overflow: hidden;
    transition: all .5s cubic-bezier(0,1,0,1);
}

.faq__answer.show {
    height: auto;
    max-height: 100vh;
    transition: all .5s cubic-bezier(1,0,1,0);
}

/*Media Queries*/
@media (max-width: 768px) {
    .faq__question > h4 {
        font-size: 1rem;
        line-height: 1.3;
    }

    .faq__answer {
        font-size: .9rem;
    }
}