.button {
    padding: 30px;
    font-size: 1.2rem;
    text-transform: capitalize;
    cursor: pointer;
    color: #fff;
    background-color: hsl(218.94, 54.02%, 34.12%);
    border: none;
    transition: all .3s ease;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.button:hover {
  box-shadow: inset 0 0 50px 10px rgba(255, 255, 255, .5);
}

.nav-btn {
  padding: 4px 1rem;
}

  /*Media Queries*/
@media (max-width: 1300px) {
    .button {
      padding: 1rem;
      font-size: 1rem;
    }

    .nav-btn {
      padding: 4px 1rem;
    }
}