#help {
    background: url(../../assets/kailua-kona-home-solar.jpg) no-repeat center;
    background-size: cover;
    position: relative;
    z-index: 1;
}

#help::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(218.94, 54.02%, 34.12%, .9); 
    z-index: -1;
}

